/* basic setting */
$btn-primary-color: #ff6600;
$btn-promary-hover-color: #fa7b27;
$main-color: #9197a3;
$border-color: #e6ecf0;
$atUser-color: #657786;
$pink-color: #e0245e;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$pc-media: 992px;
$pcs-media: 991px;
$pad-media: 768px;
$pads-media: 767px;
$phone-media: 576px;
$phones-media: 575px;
