.btn {
  // width: 174px;
  padding-left: 48px;
  padding-right: 48px;
  height: 46px;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: #f67599;
  color: white;
  &::after {
    content: '\2192';
    margin-left: 10px;
    color: var(--body-color);
  }

  &:hover {
    background-color: #eb6188;
  }

  @include pad {
    width: 100%;
  }

  @include mobile {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.btn-secondary {
  background-color: white;
  color: black;
  padding-left: 0px;

  &::before {
    content: '\2190';
    margin-right: 10px;
    color: var(--body-color);
  }

  @include pad {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  @include theme() {
    background-color: theme-get('content-bg-color');
    color: theme-get('text-color');
  }
}

input {
  &[type='radio'] {
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(#000, 0.5);

    @include theme() {
      background-color: theme-get('text-gray-color');
    }

    &:checked {
      box-shadow: inset 0 0 0 5px black;

      @include theme() {
        box-shadow: inset 0 0 0 5px black;
        background-color: white;
        border: 1px solid theme-get('text-gray-color');
      }
    }
  }
}

select {
  appearance: none;
  cursor: pointer;
  background-color: transparent;

  &:invalid {
    color: #747474;
  }
}
