.modal-dialog {
  max-width: 600px !important;

  @include pad {
    max-width: 500px !important;
  }

  @include mobile {
    width: auto;
  }
}

.modal-content {
  border-radius: 14px !important;
}

.modal-header {
  display: block;
  padding: 19.5px;
  .btn-close {
    padding: 0;
    color: $btn-primary-color;
    background: none;
  }
}

.modal-footer {
  // margin-top: 50px;
  border-top: none;
}

.replyModal-container {
  .tweet-content {
    font-weight: 400;
  }

  .tweet-replyFormat {
    padding-top: 18px;
    padding-bottom: 18px;
    span {
      color: $btn-primary-color;
    }
  }
}

.replyModal-container:nth-child(1) {
  .tweet-img-container {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: calc(100% - 50px - 10px);
      top: 55px;
      left: 25px;
      border-left: 2px solid #ccd6dd;
    }
  }
}

.replyModal-container {
  width: 100%;
  .tweet-content-container {
    width: 100%;
  }
  .replyModal-content {
    padding-top: 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #1c1c1c;
    outline: none;
    border: none;
    width: 100%;
    resize: none;
  }
}
