.content {
  padding-top: 80px;
  padding-bottom: 140px;

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }

  @include pad {
    padding-top: 16px;
    position: relative;
  }

  @include mobile {
    padding-top: 16px;
    position: relative;
  }

  @include theme() {
    background-color: theme-get('content-bg-color');
  }
}

.content__title {
  font-size: 32px;
  line-height: 38px;
  // margin-bottom: 48px;
  grid-column: 1 / 13;

  @include pad {
    margin-top: 24px;
  }

  @include mobile {
    margin-top: 24px;
  }

  @include theme() {
    color: theme-get('text-color');
  }
}

.leftContent {
  grid-column: 1 / 7;

  @include pad {
    grid-column: 1 / 13;
  }

  @include mobile {
    grid-column: 1 / 13;
  }
}

.rightContent {
  grid-column: 8 / 13;
  padding: 32px 24px 32px 24px;
  border: 1px solid #f0f0f5;

  @include theme() {
    border: 1px solid theme-get('rightContent-border-color');
    background-color: theme-get('rightContent-bg-color');
  }

  h3 {
    @include theme() {
      color: theme-get('text-color');
    }
  }

  @include pad {
    grid-column: 1 / 13;

    & h3 {
      display: none;
    }
  }

  @include mobile {
    grid-column: 1 / 13;

    & h3 {
      display: none;
    }
  }
}
