.followMenu {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #657786;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
}

.followMenu-item {
  padding-top: 26px;
  padding-bottom: 16px;
  cursor: pointer;

  &:nth-child(1) {
    padding-left: 43px;
    padding-right: 43px;
  }

  &:nth-child(2) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.followActive {
  @extend %nav-active;
}

.follows {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  .follow {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-top: 1px solid $border-color;

    .follow-content-container {
      padding-left: 10px;

      .follow-intro {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #1c1c1c;
      }
    }

    .follow-img-container {
      padding-left: 15px;
    }

    .btn-container {
      position: absolute;
      top: 12px;
      right: 15px;
    }

    .follow-userId {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 15px;
      line-height: 15px;
      color: $atUser-color;
    }
  }
}
