header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  @include theme() {
    background-color: theme-get('header-bg-color');
  }
}

.menu__item {
  padding-right: 32px;
  font-size: 18px;
  opacity: 1;
  background-color: #fff;

  .menu__item__link {
    display: block;
    @include theme() {
      color: theme-get('text-color');
    }
  }

  @include theme() {
    background-color: theme-get('header-bg-color');
  }
}

.userIcon {
  @include theme() {
    background-color: theme-get('header-bg-color');
  }
}

.userIcon__item {
  padding-left: 33px;
  background-color: #fff;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;

  @include theme() {
    background-color: theme-get('header-bg-color');
    color: theme-get('text-color');
  }

  .userIcon__item__link {
    @include theme() {
      color: theme-get('text-color');
    }
  }
}

.logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;

  .logo {
    .logo__img {
      margin-right: 10px;
    }

    @include theme() {
      color: theme-get('text-color');
    }
  }
}

.hamburger__toggle {
  display: none;
}

.hamburger__checkbox {
  visibility: hidden;
  position: absolute;
}

.open {
  margin-bottom: 0px;
}

.close {
  margin-bottom: 0px;
}

@include pad {
  .open {
    margin-bottom: 399px;
  }

  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.5s ease-out;

    .menu__item {
      padding-right: 0px;
      width: 100%;
      border-bottom: 1px solid #2a2a2a1a;

      .menu__item__link {
        padding-bottom: 24px;
        padding-top: 24px;
      }

      &:hover {
        background-color: #dddddd;
        @include theme() {
          background-color: theme-get('hover-color');
        }
      }
    }

    .menu__item:first-child {
      padding-top: 0px;
    }
  }

  .userIcon {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 335px;

    .userIcon__item {
      padding-left: 0px;
      width: 130px;
      text-align: center;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .hamburger__toggle,
  .hamburger__toggle::before,
  .hamburger__toggle::after {
    display: block;
    cursor: pointer;
    border-bottom: 3px solid #2a2a2a;

    @include theme() {
      border-color: theme-get('border-color');
    }
  }

  .hamburger__toggle {
    position: relative;
    width: 16px;
    height: 18px;
  }

  .hamburger__toggle::before {
    position: absolute;
    content: '';
    left: 0;
    width: 24px;
    height: 2px;
  }

  .hamburger__toggle::after {
    position: absolute;
    content: '';
    left: 0;
    width: 20px;
    height: 10px;
  }

  .hamburger__checkbox:checked ~ .menu {
    display: block;
    transform: scale(1, 1);
  }

  .hamburger__checkbox:checked ~ .menu .menu__item {
    transition: transform 0.2s ease-out 0.15s;
    opacity: 1;
  }

  .hamburger__checkbox:checked ~ .userIcon {
    display: flex;
  }
}

@include mobile {
  .open {
    margin-bottom: 399px;
  }

  header {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.5s ease-out;

    .menu__item {
      padding-right: 0px;
      width: 100%;
      border-bottom: 1px solid #2a2a2a1a;

      .menu__item__link {
        padding-bottom: 24px;
        padding-top: 24px;
      }

      &:hover {
        background-color: #dddddd;
        @include theme() {
          background-color: theme-get('hover-color');
        }
      }
    }

    .menu__item:first-child {
      padding-top: 0px;
    }
  }

  .userIcon {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 335px;

    .userIcon__item {
      padding-left: 0px;
      width: 130px;
      text-align: center;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .hamburger__toggle,
  .hamburger__toggle::before,
  .hamburger__toggle::after {
    display: block;
    cursor: pointer;
    border-bottom: 3px solid #2a2a2a;

    @include theme() {
      border-color: theme-get('border-color');
    }
  }

  .hamburger__toggle {
    position: relative;
    width: 16px;
    height: 18px;
  }

  .hamburger__toggle::before {
    position: absolute;
    content: '';
    left: 0;
    width: 24px;
    height: 2px;
  }

  .hamburger__toggle::after {
    position: absolute;
    content: '';
    left: 0;
    width: 20px;
    height: 10px;
  }

  .hamburger__checkbox:checked ~ .menu {
    display: block;
    transform: scale(1, 1);
  }

  .hamburger__checkbox:checked ~ .menu .menu__item {
    transition: transform 0.2s ease-out 0.15s;
    opacity: 1;
  }

  .hamburger__checkbox:checked ~ .userIcon {
    display: flex;
  }

  footer {
    display: none;
  }
}
