.main-container {
  margin-left: 378px;
  margin-right: 476px;
}

.main-tweet {
  position: relative;
  // padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 120px;
  border-bottom: 10px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;

  .content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.content-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.content-text {
  color: #9197a3;
  padding-top: calc((50px - 18px) / 2);
  padding-left: 10px;
}

.btn-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.tweets,
.replyModal-container {
  .tweet {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e6ecf0;
    border-left: 1px solid #e6ecf0;
    border-right: 1px solid #e6ecf0;
  }

  .tweet-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .tweet-content-container {
    margin-left: 10px;
  }

  .tweet-header {
    margin-bottom: 6px;
  }

  .tweet-userName,
  .tweet-userInfo,
  .tweet-content {
    @extend %main-text-shared;
  }

  .tweet-userName {
    color: #1c1c1c;
    font-weight: bold;
  }

  .tweet-userInfo {
    margin-left: 5px;
    color: #657786;
  }

  .tweet-replyFormat {
    padding-top: 4px;
    padding-bottom: 5px;
    color: #657786;

    a {
      color: $btn-primary-color;
    }
  }

  .tweet-content {
    color: #1c1c1c;
  }

  .tweet-icons-container {
    padding-top: 15px;
    padding-bottom: 15px;

    .tweet-icon {
      margin-right: 50px;

      font-family: Noto Sans TC;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;

      color: #657786;
    }
  }
}
