.chat-container {
  margin-left: 378px;
  max-height: 100vh;
  border-right: 1px solid $border-color;

  @include pad-lg {
    margin-left: 231px;
  }

  @include pad {
    margin-left: 231px;
  }

  @include mobile {
    margin: 0 auto;
  }
}

.onlineUser-container,
.chatroom {
  .header {
    padding: 10px;
    @extend %font-setting;
    border-bottom: 1px solid $border-color;
  }
}

.onlineUser-container {
  border-right: 1px solid $border-color;
}

.user-list {
  .user-item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $border-color;

    .user-img-container {
      width: 50px;
      height: 50px;

      .user-img {
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }

    &:hover {
      background-color: rgba(240, 240, 240, 0.5);
    }

    .user-name .user-account {
      @extend %main-text-shared;
      text-decoration: none;
    }

    .user-account {
      color: #657786;
    }

    .user-name:hover {
      color: black;
    }
  }
}
.chatroom {
  height: 100vh;
  .chat-content-container {
    position: relative;
    overflow-y: scroll;
    padding: 10px;
    height: 88%;
    border-bottom: 1px solid $border-color;

    .typing {
      position: absolute;
      height: 10px;
      color: rgb(200, 200, 200);
      bottom: 8px;
      font-size: 14px;
    }
  }

  .chat-submit-container {
    padding: 10px;
  }

  .input-send {
    display: block;
    margin: auto;
    height: 2.3rem;
    border-radius: 20px !important;
    background-color: rgba(220, 220, 220, 0.5);
    border: none;
  }

  .form-control:focus {
    box-shadow: none;
  }
}

.chat-info {
  font-size: 14px;

  .chat-info-content {
    margin: 5px 0;
    padding: 5px 15px;
    display: inline-block;
    background-color: $border-color;
    color: $main-color;
    border-radius: 20px;
  }
}

.chat-left,
.chat-right {
  width: 60%;

  .chat-message-container {
    position: relative;

    .chat-message {
      padding: 10px 15px;
    }

    .chat-time {
      position: absolute;
      bottom: -15px;
      font-size: 12px;
      color: $main-color;
    }
  }
}

.chat-img {
  width: 35px;
  height: 35px;
}

.chat-left {
  .chat-message {
    background-color: $border-color;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
  }

  .img-container {
    width: 50px;
  }
}

.chat-right {
  justify-content: flex-end;
  .chat-message {
    color: white;
    background-color: $btn-primary-color;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
  }

  .chat-time {
    right: 0;
  }
}
