.modal-header {
  position: relative;
  // border-bottom: none !important;

  .btn-save {
    width: 64px;
    height: 30px;
    background: $btn-primary-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: white;
    border-radius: 100px;
    padding: 6px 14px;
    font-weight: normal;
    position: absolute;
    top: 12px;
    right: 15px;

    &:hover {
      background: $btn-primary-hover-color;
    }
  }
}

.editModal {
  .modal-body {
    padding: 0;
  }

  .img-container {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }

    .edit-camera,
    .edit-across {
      cursor: pointer;
      position: absolute;
    }

    .edit-camera {
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
    }

    .edit-across {
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
    }
  }
  .photo {
    position: relative;
    bottom: -60px;
    left: 14px;
    border: 4px solid white;

    .edit-camera {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.edit-content-container {
  padding: 85px 15px 50px 15px;

  .title-container,
  .selfIntro-container {
    background-color: #f5f8fa;
    padding-top: 5px;
    padding-left: 15px;
    border-bottom: 2px solid #000;
    border-radius: 4px;
  }

  .selfIntro-container {
    margin-top: 21px;
  }

  .title {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 4px;
    color: $main-color;
  }

  .title-name,
  .selfIntro {
    width: 100%;
    border: none;
    background-color: #f5f8fa;
    outline: none;
  }

  .selfIntro {
    resize: none;
    height: 150px;
  }

  .text-count {
    display: block;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #657786;
  }
}
