.userProfileInfo-container {
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;

  header {
    padding-left: 15px;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  .img-container {
    position: relative;

    .photo {
      bottom: -70px;
      left: 14px;
      border: 4px solid #ffffff;
    }
  }

  .userProfileInfo-content-container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 69px;

    .content-username {
      font-weight: 900;
      font-size: 19px;
      line-height: 28px;
    }

    .content-userId {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #657786;
    }

    .content-intro {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .btn-profile,
    .otherUser-btn-container {
      top: 10px;
      right: 15px;
    }
  }

  .follow-container {
    margin-bottom: 20px;
    .follow-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-right: 20px;

      span {
        color: $main-color;
      }
    }
  }
}

.tweetMenu {
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  color: $main-color;

  .tweetMenu-item {
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 130px;
  }
}

.tweetActive {
  @extend %nav-active;
}

.tweet-icons-container {
  .pink {
    color: #e0245e !important;
  }
}

.tweet-icon {
  .pink {
    color: #e0245e;
  }
}

.otherUser-btn-container {
  button {
    margin-left: 10px;
  }
}
