.userProfile-container,
.userFollower-container,
.userFollowing-container {
  margin-left: 378px;
  margin-right: 476px;
  border-right: 1px solid $border-color;
}

.userFollower-container {
  height: 100vh;
}

.userProfileInfo-container {
  header {
    padding-left: 15px;
  }

  .coverImg {
    height: 200px;
    vertical-align: middle;
    object-fit: cover;
  }

  .img-container {
    // min-width: 598px;
    position: relative;

    .photo {
      height: 140px;
      width: 140px;
      bottom: -70px;
      left: 18px;

      img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        vertical-align: middle;
        border: 4px solid #ffffff;
      }
    }
  }

  .userProfileInfo-content-container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 75px;

    .content-username {
      font-weight: 900;
      font-size: 19px;
      line-height: 28px;
    }

    .content-userId {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #657786;
    }

    .content-intro {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .btn-profile,
    .otherUser-btn-container {
      top: 10px;
      right: 15px;
    }
  }

  .follow-container {
    margin-bottom: 20px;
    .follow-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-right: 20px;

      span {
        color: $main-color;
      }
    }
  }
}

.tweetMenu {
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  color: $main-color;

  .tweetMenu-item {
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 130px;
  }
}

.tweetActive {
  @extend %nav-active;
}

.tweet-icons-container {
  .pink {
    color: #e0245e !important;
  }
}

.tweet-icon {
  .pink {
    color: #e0245e;
  }
}

.otherUser-btn-container {
  button {
    margin-left: 10px;
  }
}
